# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
compiled-styles


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.cursor
.vscode
ap_ui_kit_technical_specification_living_document.md
ap_ui_kit_are.md
ap_ui_kit_ts_patterns_utilities.md
ap_ui_kit_component_checklist.md
todo.md

# Storybook
*storybook.log
storybook-static
